html {
    overflow-y: scroll;
}
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #585858;
    font-family: 'Open Sans', sans-serif;
}

img { border: 0; }

a, a:hover, a:visited, a:active {
    color: #585858;
    border: none;
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover {
    color: orange;
}
ul {
    padding-left: 15px;
    line-height: 18px;
}
ul li {
    padding-bottom: 10px;
}
.small {
    font-size: 11px;
}
#app {
    width: 787px;
    margin: 20px auto;
    position: relative;
}
.lang.en {
    display: none;
}

a#head {
    background: url(/img/rothauer-it.com.jpg) no-repeat;
    height: 81px;
    left: 448px;
    position: absolute;
    top: -16px;
    width: 285px;
    z-index: 100;
}
a.header-link {
    margin-top: 15px;
    float: left;
    clear: both;
}
.orange {
    color: orange;
}
div#about p,
div#privacy p,
div#imprint p,
div#contact p {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    line-height: 22px;
    width: 661px;
}

div#about img {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    float: right;
    margin-left: 22px;
}
div#contact a.img {
    float: left;
    padding-right: 5px;
}
div#contact,
div#about,
div#privacy,
div#imprint {
    margin-left: 63px;
    margin-right: 63px;
    width: 661px;
}