<div class="desc" id="reparatur-initiativen" style="display: none;">
    <div class="left">
        <b>Netzwerk Reparatur-Initiativen</b>
        <ul>
            <li class="lang de" style="display: list-item;">Seit 2015: Wartung und Weiterentwicklung des Portals
            </li>
            <li class="lang en" style="display: none;">Since 2015: Maintainance and development</li>
            <li><span class="lang de" style="display: inline;">Seit</span><span class="lang en"
                    style="display: none;">Since</span> 2019 <a
                    href="https://github.com/anstiftung/mapped-repair-events" target="_blank">Open Source</a>
            </li>
            <li class="lang de" style="display: list-item;">basierend auf CakePHP</li>
            <li class="lang en" style="display: none;">based on CakePHP</li>
        </ul>
    </div>
    <div class="right">
        <a target="_blank" href="https://www.reparatur-initiativen.de" class="external">
            <img src="/assets/thumbs/big/reparatur-initiativen.png">
        </a>
        <a target="_blank" href="https://www.reparatur-initiativen.de"
            class="project-link external">www.reparatur-initiativen.de</a>
    </div>
    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>
<div class="desc" id="wildniscamps" style="display: none;">
    <div class="left">
        <b>Wildnischule Wildniscamps, Viechtwang</b>
        <ul>
            <li class="lang de" style="display: list-item;">Die Wildnisschule eures Vertrauens</li>
            <li class="lang en" style="display: none;">Wilderness school, Upper Austria</li>
        </ul>
    </div>
    <div class="right">
        <a target="_blank" href="https://www.wildniscamps.at" class="external">
            <img src="/assets/thumbs/big/wildniscamps.png">
        </a>
        <a target="_blank" href="https://www.wildniscamps.at" class="project-link external">www.wildniscamps.at</a>
    </div>

    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="kunstbrettl" style="display: none;">

    <div class="left">
        <b>Kunstbrettl AGE, Pettenbach</b>
        <ul>
            <li class="lang de" style="display: list-item;">Einfach zu bedienende Webseite für den kulturellen
                Nahversorger in Pettenbach.</li>
            <li class="lang en" style="display: none;">Easy to handle website for the local theater club.</li>
            <li>Layout © Jörg Pichler</li>
        </ul>
    </div>

    <div class="right">
        <a target="_blank" href="https://www.kunstbrettl.at" class="external">
            <img src="/assets/thumbs/big/kunstbrettl.png">
        </a>
        <a target="_blank" href="https://www.kunstbrettl.at" class="project-link external">www.kunstbrettl.at</a>
    </div>

    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="marktmusik-scharnstein" style="display: none;">

    <div class="left">
        <b>Marktmusik Redtenbacher, Scharnstein</b>
        <ul>
            <li class="lang de" style="display: list-item;">Einfach zu bedienende Webseite für den lokalen
                Musikverein.
            </li>
            <li class="lang en" style="display: none;">Easy to handle website for the local music club.</li>
        </ul>
    </div>

    <div class="right">
        <a target="_blank" href="http://www.marktmusik-scharnstein.at" class="external">
            <img src="/assets/thumbs/big/marktmusik-scharnstein.png">
        </a>
        <a target="_blank" href="http://www.marktmusik-scharnstein.at"
            class="project-link external">www.marktmusik-scharnstein.at</a>
    </div>

    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="maler-luckeneder" style="display: none;">

    <div class="left">
        <b>Maler Luckeneder, Scharnstein</b>
        <ul>
            <li class="lang de" style="display: list-item;">Malerei, Scharnstein</li>
            <li class="lang en" style="display: none;">Painter, Scharnstein, Upper Austria</li>
            <li class="lang de" style="display: list-item;">basierend auf Joomla</li>
            <li class="lang en" style="display: none;">based on Joomla</li>
        </ul>
    </div>

    <div class="right">
        <a target="_blank" href="https://www.maler-luckeneder.at" class="external">
            <img src="/assets/thumbs/big/maler-luckeneder.png">
        </a>
        <a target="_blank" href="https://www.maler-luckeneder.at"
            class="project-link external">www.maler-luckeneder.at</a>
    </div>

    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="fairteiler-scharnstein" style="display: none;">

    <div class="left">
        <b>Fairteiler Scharnstein, Almtal</b>
        <ul>
            <li class="lang de" style="display: list-item;">Foodcoop in Scharnstein, Oberösterreich</li>
            <li class="lang en" style="display: none;">Foodcoop in Scharnstein, Upper Austria</li>
            <li class="lang de" style="display: list-item;">basierend auf <a
                    href="https://www.foodcoopshop.com">FoodCoopShop</a></li>
            <li class="lang en" style="display: none;">based on <a href="https://www.foodcoopshop.com">FoodCoopShop</a>
            </li>
        </ul>
    </div>

    <div class="right">
        <a target="_blank" href="https://www.fairteiler-scharnstein.at" class="external">
            <img src="/assets/thumbs/big/fairteiler-scharnstein.png">
        </a>
        <a target="_blank" href="https://www.fairteiler-scharnstein.at"
            class="project-link external">www.fairteiler-scharnstein.at</a>
    </div>

    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="variousvisions" style="display: none;">

    <div class="left">
        <b class="lang de" style="display: inline;">Video-Produktionen Jan Gruber, Gmunden</b>
        <b class="lang en" style="display: none;">Video Productions Jan Gruber, Gmunden / Upper Austria</b>
        <ul>
            <li class="lang de" style="display: list-item;">Horizontale Single-Page-Website mit dynamischer
                Vimeo-Einbindung</li>
            <li class="lang en" style="display: none;">Horizontal single page website with dynamic integration
                of
                Vimeo
                videos</li>
            <li class="lang de" style="display: list-item;">Swipe-Funktion bei mobilen Devices</li>
            <li class="lang en" style="display: none;">Swiping enabled on mobile devices</li>
            <li class="lang" style="display: none;">Layout by Jan Gruber</li>
        </ul>
    </div>

    <div class="right">
        <a target="_blank" href="http://www.variousvisions.at" class="external">
            <img src="/assets/thumbs/big/variousvisions.png">
        </a>
        <a target="_blank" href="http://www.variousvisions.at" class="project-link external">www.variousvisions.at</a>
    </div>

    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="kindergarten-scharnstein" style="display: none;">

    <div class="left">
        <b class="lang de" style="display: inline;">Kindergarten Scharnstein</b>
        <b class="lang en" style="display: none;">Kindergarten Scharnstein, Upper Austria</b>
        <ul>
            <li>Layout by cread.at</li>
            <li class="lang de" style="display: list-item;">Basierend auf <a target="_blank"
                    href="http://cakephp.org/">CakePHP</a></li>
            <li class="lang en" style="display: none;">Based on <a target="_blank"
                    href="http://cakephp.org/">CakePHP</a>
            </li>
        </ul>
    </div>

    <div class="right">
        <a target="_blank" href="http://www.kindergarten-scharnstein.at/kraki" class="external">
            <img src="/assets/thumbs/big/kindergarten-scharnstein.png">
        </a>
        <a target="_blank" href="http://www.kindergarten-scharnstein.at/kraki"
            class="project-link external">www.kindergarten-scharnstein.at</a>
    </div>

    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="grabner" style="display: none;">

    <div class="left">
        <b class="lang de" style="display: inline;">Grabner GmbH, Tischlerei, Grünau</b>
        <b class="lang en" style="display: none;">Grabner Ltd., Carpenter, Upper Austria</b>
        <ul>
            <li>Layout by cread.at</li>
        </ul>
    </div>

    <div class="right">
        <a target="_blank" href="http://www.grabner-gmbh.at" class="external">
            <img src="/assets/thumbs/big/grabner.png">
        </a>
        <a target="_blank" href="http://www.grabner-gmbh.at" class="project-link external">www.grabner-gmbh.at</a>
    </div>

    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="nextgreenheroes" style="display: none;">

    <div class="left">
        <b class="lang de" style="display: inline;">Freiwilligenarbeit für Jugendliche, Schweiz (Indien)</b>
        <b class="lang en" style="display: none;">Social work for young adults, Switzerland (India)</b>
        <ul>
            <li class="lang de" style="display: list-item;">Basierend auf <a target="_blank"
                    href="http://cakephp.org/">CakePHP</a></li>
            <li class="lang en" style="display: none;">Based on <a target="_blank"
                    href="http://cakephp.org/">CakePHP</a>
            </li>
            <li>Layout by <a href="https://www.fairidee.de" target="_blank">fairidee.de</a></li>
        </ul>
    </div>

    <div class="right">
        <a target="_blank" href="http://www.nextgreenheroes.com" class="external">
            <img src="/assets/thumbs/big/nextgreenheroes.png">
        </a>
        <a target="_blank" href="http://www.nextgreenheroes.com"
            class="project-link external">www.nextgreenheroes.com</a>
    </div>

    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="offene-werkstaetten" style="display: none;">

    <div class="left">
        <b class="lang de" style="display: inline;">Portal der Offene Werkstätten</b>
        <b class="lang en" style="display: none;">Portal of open workshops</b>
        <ul>
            <li class="lang de" style="display: list-item;">Seit 2011: Wartung und Weiterentwicklung des Portals
            </li>
            <li class="lang en" style="display: none;">Since 2011: Maintainance and development</li>
            <li class="lang de" style="display: list-item;">Basierend auf <a target="_blank"
                    href="https://cakephp.org/">CakePHP</a></li>
            <li class="lang en" style="display: none;">Based on <a target="_blank"
                    href="https://cakephp.org/">CakePHP</a>
            </li>
        </ul>
    </div>

    <div class="right">
        <a target="_blank" href="https://www.offene-werkstaetten.org" class="external">
            <img src="/assets/thumbs/big/offene-werkstaetten.png">
        </a>
        <a target="_blank" href="https://www.offene-werkstaetten.org"
            class="project-link external">www.offene-werkstaetten.org</a>
    </div>

    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="motorsagla" style="display: none;">

    <div class="left">
        <b class="lang de" style="display: inline;">Motorsägenschnitzer Herbert Danzer, Kirchham,
            Oberösterreich</b>
        <b class="lang en" style="display: none;">Chainsaw carving, Upper Austria</b>
        <ul>
            <li class="lang de" style="display: list-item;">User-freundliche Implementierung der Software <a
                    target="_blank" href="http://www.twospy.com/galleriffic/">galleriffic</a></li>
            <li class="lang en" style="display: none;">User-friendly implementation of <a target="_blank"
                    href="http://www.twospy.com/galleriffic/">galleriffic image gallery</a></li>
        </ul>
    </div>

    <div class="right">
        <a target="_blank" href="https://www.motorsagla.at" class="external">
            <img src="/assets/thumbs/big/motorsagla.png">
        </a>
        <a target="_blank" href="https://www.motorsagla.at" class="project-link external">www.motorsagla.at</a>
    </div>

    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="schimas-sports" style="display: none;">
    <div class="left">
        <b class="lang de" style="display: inline;">Bergsportartikel-Händler, Gschwandt, Oberösterreich</b>
        <b class="lang en" style="display: none;">Mountain equipment retailer, Upper Austria</b>
        <ul>
            <li class="lang de" style="display: list-item;">Basierend auf CakePHP</li>
            <li class="lang en" style="display: none;">Based on CakePHP</li>
        </ul>
    </div>
    <div class="right">
        <a target="_blank" href="https://www.schima-sports.at" class="external">
            <img src="/assets/thumbs/big/schimasports.png">
        </a>
        <a target="_blank" href="https://www.schima-sports.at" class="project-link external">www.schima-sports.at</a>
    </div>
    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="baeckerberg" style="display: none;">
    <div class="left">
        <b class="lang de" style="display: inline;">Bäckerberg, Oberösterreich</b>
        <b class="lang en" style="display: none;">Bäckerberg, Upper Austria</b>
        <ul>
            <li class="lang de" style="display: list-item;">Gartengestaltung, Tierzucht und Veranstaltungen</li>
            <li class="lang de" style="display: list-item;">Basierend auf CakePHP</li>
            <li class="lang en" style="display: none;">Gardening, animal farm and events</li>
            <li class="lang en" style="display: none;">Based on CakePHP</li>
        </ul>
    </div>
    <div class="right">
        <a target="_blank" href="http://www.bäckerberg.at" class="external">
            <img src="/assets/thumbs/big/baeckerberg.png">
        </a>
        <a target="_blank" href="http://www.bäckerberg.at" class="project-link external">www.bäckerberg.at</a>
    </div>
    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>

<div class="desc" id="projects" style="display: none;">
    <div class="project">

        <div class="left">
            <b>Netzwerk Reparatur-Initiativen</b>
            <ul>
                <li class="lang de" style="display: list-item;">Seit 2015: Wartung und Weiterentwicklung des
                    Portals
                </li>
                <li class="lang en" style="display: none;">Since 2015: Maintainance and development</li>
                <li><span class="lang de" style="display: inline;">Seit</span><span class="lang en"
                        style="display: none;">Since</span> 2019 <a
                        href="https://github.com/anstiftung/mapped-repair-events" target="_blank">Open
                        Source</a>
                </li>
                <li class="lang de" style="display: list-item;">basierend auf CakePHP</li>
                <li class="lang en" style="display: none;">based on CakePHP</li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="https://www.reparatur-initiativen.de" class="external">
                <img src="/assets/thumbs/big/reparatur-initiativen.png">
            </a>
            <a target="_blank" href="https://www.reparatur-initiativen.de"
                class="project-link external">www.reparatur-initiativen.de</a>
        </div>

    </div>
    <div class="project">

        <div class="left">
            <b>Fairteiler Scharnstein, Almtal</b>
            <ul>
                <li class="lang de" style="display: list-item;">Foodcoop in Scharnstein, Oberösterreich</li>
                <li class="lang en" style="display: none;">Foodcoop in Scharnstein, Upper Austria</li>
                <li class="lang de" style="display: list-item;">basierend auf <a
                        href="https://www.foodcoopshop.com">FoodCoopShop</a></li>
                <li class="lang en" style="display: none;">based on <a
                        href="https://www.foodcoopshop.com">FoodCoopShop</a>
                </li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="https://www.fairteiler-scharnstein.at" class="external">
                <img src="/assets/thumbs/big/fairteiler-scharnstein.png">
            </a>
            <a target="_blank" href="https://www.fairteiler-scharnstein.at"
                class="project-link external">www.fairteiler-scharnstein.at</a>
        </div>

    </div>
    <div class="project">

        <div class="left">
            <b class="lang de" style="display: inline;">Portal der Offene Werkstätten</b>
            <b class="lang en" style="display: none;">Portal of open workshops</b>
            <ul>
                <li class="lang de" style="display: list-item;">Seit 2011: Wartung und Weiterentwicklung des
                    Portals
                </li>
                <li class="lang en" style="display: none;">Since 2011: Maintainance and development</li>
                <li class="lang de" style="display: list-item;">Basierend auf <a target="_blank"
                        href="https://cakephp.org/">CakePHP</a></li>
                <li class="lang en" style="display: none;">Based on <a target="_blank"
                        href="https://cakephp.org/">CakePHP</a>
                </li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="https://www.offene-werkstaetten.org" class="external">
                <img src="/assets/thumbs/big/offene-werkstaetten.png">
            </a>
            <a target="_blank" href="https://www.offene-werkstaetten.org"
                class="project-link external">www.offene-werkstaetten.org</a>
        </div>

    </div>
    <div class="project">

        <div class="left">
            <b>Wildnischule Wildniscamps, Viechtwang</b>
            <ul>
                <li class="lang de" style="display: list-item;">Die Wildnisschule eures Vertrauens</li>
                <li class="lang en" style="display: none;">Wilderness school, Upper Austria</li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="https://www.wildniscamps.at" class="external">
                <img src="/assets/thumbs/big/wildniscamps.png">
            </a>
            <a target="_blank" href="https://www.wildniscamps.at" class="project-link external">www.wildniscamps.at</a>
        </div>

    </div>
    <div class="project">

        <div class="left">
            <b class="lang de" style="display: inline;">Kindergarten Scharnstein</b>
            <b class="lang en" style="display: none;">Kindergarten Scharnstein, Upper Austria</b>
            <ul>
                <li>Layout by cread.at</li>
                <li class="lang de" style="display: list-item;">Basierend auf <a target="_blank"
                        href="http://cakephp.org/">CakePHP</a></li>
                <li class="lang en" style="display: none;">Based on <a target="_blank"
                        href="http://cakephp.org/">CakePHP</a>
                </li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="http://www.kindergarten-scharnstein.at/kraki" class="external">
                <img src="/assets/thumbs/big/kindergarten-scharnstein.png">
            </a>
            <a target="_blank" href="http://www.kindergarten-scharnstein.at/kraki"
                class="project-link external">www.kindergarten-scharnstein.at</a>
        </div>

    </div>
    <div class="project">

        <div class="left">
            <b>Kunstbrettl AGE, Pettenbach</b>
            <ul>
                <li class="lang de" style="display: list-item;">Einfach zu bedienende Webseite für den
                    kulturellen
                    Nahversorger in Pettenbach.</li>
                <li class="lang en" style="display: none;">Easy to handle website for the local theater club.
                </li>
                <li>Layout © Jörg Pichler</li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="https://www.kunstbrettl.at" class="external">
                <img src="/assets/thumbs/big/kunstbrettl.png">
            </a>
            <a target="_blank" href="https://www.kunstbrettl.at" class="project-link external">www.kunstbrettl.at</a>
        </div>

    </div>
    <div class="project">

        <div class="left">
            <b class="lang de" style="display: inline;">Motorsägenschnitzer Herbert Danzer, Kirchham,
                Oberösterreich</b>
            <b class="lang en" style="display: none;">Chainsaw carving, Upper Austria</b>
            <ul>
                <li class="lang de" style="display: list-item;">User-freundliche Implementierung der Software <a
                        target="_blank" href="http://www.twospy.com/galleriffic/">galleriffic</a></li>
                <li class="lang en" style="display: none;">User-friendly implementation of <a target="_blank"
                        href="http://www.twospy.com/galleriffic/">galleriffic image gallery</a></li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="https://www.motorsagla.at" class="external">
                <img src="/assets/thumbs/big/motorsagla.png">
            </a>
            <a target="_blank" href="https://www.motorsagla.at" class="project-link external">www.motorsagla.at</a>
        </div>

    </div>
    <div class="project">

        <div class="left">
            <b>Marktmusik Redtenbacher, Scharnstein</b>
            <ul>
                <li class="lang de" style="display: list-item;">Einfach zu bedienende Webseite für den lokalen
                    Musikverein.</li>
                <li class="lang en" style="display: none;">Easy to handle website for the local music club.</li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="http://www.marktmusik-scharnstein.at" class="external">
                <img src="/assets/thumbs/big/marktmusik-scharnstein.png">
            </a>
            <a target="_blank" href="http://www.marktmusik-scharnstein.at"
                class="project-link external">www.marktmusik-scharnstein.at</a>
        </div>

    </div>
    <div class="project">

        <div class="left">
            <b>Maler Luckeneder, Scharnstein</b>
            <ul>
                <li class="lang de" style="display: list-item;">Malerei, Scharnstein</li>
                <li class="lang en" style="display: none;">Painter, Scharnstein, Upper Austria</li>
                <li class="lang de" style="display: list-item;">basierend auf Joomla</li>
                <li class="lang en" style="display: none;">based on Joomla</li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="https://www.maler-luckeneder.at" class="external">
                <img src="/assets/thumbs/big/maler-luckeneder.png">
            </a>
            <a target="_blank" href="https://www.maler-luckeneder.at"
                class="project-link external">www.maler-luckeneder.at</a>
        </div>

    </div>
    <div class="project">

        <div class="left">
            <b class="lang de" style="display: inline;">Video-Produktionen Jan Gruber, Gmunden</b>
            <b class="lang en" style="display: none;">Video Productions Jan Gruber, Gmunden / Upper Austria</b>
            <ul>
                <li class="lang de" style="display: list-item;">Horizontale Single-Page-Website mit dynamischer
                    Vimeo-Einbindung</li>
                <li class="lang en" style="display: none;">Horizontal single page website with dynamic
                    integration
                    of
                    Vimeo videos</li>
                <li class="lang de" style="display: list-item;">Swipe-Funktion bei mobilen Devices</li>
                <li class="lang en" style="display: none;">Swiping enabled on mobile devices</li>
                <li class="lang" style="display: none;">Layout by Jan Gruber</li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="http://www.variousvisions.at" class="external">
                <img src="/assets/thumbs/big/variousvisions.png">
            </a>
            <a target="_blank" href="http://www.variousvisions.at"
                class="project-link external">www.variousvisions.at</a>
        </div>

    </div>
    <div class="project">
        <div class="left">
            <b class="lang de" style="display: inline;">Bergsportartikel-Händler, Gschwandt, Oberösterreich</b>
            <b class="lang en" style="display: none;">Mountain equipment retailer, Upper Austria</b>
            <ul>
                <li class="lang de" style="display: list-item;">Basierend auf CakePHP</li>
                <li class="lang en" style="display: none;">Based on CakePHP</li>
            </ul>
        </div>
        <div class="right">
            <a target="_blank" href="https://www.schima-sports.at" class="external">
                <img src="/assets/thumbs/big/schimasports.png">
            </a>
            <a target="_blank" href="https://www.schima-sports.at"
                class="project-link external">www.schima-sports.at</a>
        </div>
    </div>
    <div class="project">

        <div class="left">
            <b class="lang de" style="display: inline;">Grabner GmbH, Tischlerei, Grünau</b>
            <b class="lang en" style="display: none;">Grabner Ltd., Carpenter, Upper Austria</b>
            <ul>
                <li>Layout by cread.at</li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="http://www.grabner-gmbh.at" class="external">
                <img src="/assets/thumbs/big/grabner.png">
            </a>
            <a target="_blank" href="http://www.grabner-gmbh.at" class="project-link external">www.grabner-gmbh.at</a>
        </div>

    </div>
    <div class="project">

        <div class="left">
            <b class="lang de" style="display: inline;">Freiwilligenarbeit für Jugendliche, Schweiz (Indien)</b>
            <b class="lang en" style="display: none;">Social work for young adults, Switzerland (India)</b>
            <ul>
                <li class="lang de" style="display: list-item;">Basierend auf <a target="_blank"
                        href="http://cakephp.org/">CakePHP</a></li>
                <li class="lang en" style="display: none;">Based on <a target="_blank"
                        href="http://cakephp.org/">CakePHP</a>
                </li>
                <li>Layout by <a href="https://www.fairidee.de" target="_blank">fairidee.de</a></li>
            </ul>
        </div>

        <div class="right">
            <a target="_blank" href="http://www.nextgreenheroes.com" class="external">
                <img src="/assets/thumbs/big/nextgreenheroes.png">
            </a>
            <a target="_blank" href="http://www.nextgreenheroes.com"
                class="project-link external">www.nextgreenheroes.com</a>
        </div>

    </div>
    <div class="project">
        <div class="left">
            <b class="lang de" style="display: inline;">Bäckerberg, Oberösterreich</b>
            <b class="lang en" style="display: none;">Bäckerberg, Upper Austria</b>
            <ul>
                <li class="lang de" style="display: list-item;">Gartengestaltung, Tierzucht und Veranstaltungen
                </li>
                <li class="lang de" style="display: list-item;">Basierend auf CakePHP</li>
                <li class="lang en" style="display: none;">Gardening, animal farm and events</li>
                <li class="lang en" style="display: none;">Based on CakePHP</li>
            </ul>
        </div>
        <div class="right">
            <a target="_blank" href="http://www.bäckerberg.at" class="external">
                <img src="/assets/thumbs/big/baeckerberg.png">
            </a>
            <a target="_blank" href="http://www.bäckerberg.at" class="project-link external">www.bäckerberg.at</a>
        </div>
    </div>
    <a class="header-link" href="#wrapper"><span class="lang en" style="display: none;">&lt;&lt;
            back</span><span class="lang de" style="display: inline;">&lt;&lt; zurück</span></a>
</div>