<div id="wrapper">
  <a id="head" href="javascript:void(0);"></a>
  <div id="lang-box" style="display: block;">
    <a class="button-de" title="Deutsch" href="javascript:void(0)" style="opacity: 1;"><img
        src="/assets/img/flag-de.gif" width="16" height="11"></a>
    <a class="button-en" title="English" href="javascript:void(0)" style="opacity: 0.6;"><img
        src="/assets/img/flag-en.gif" width="16" height="11"></a>
  </div>
  <app-squares></app-squares>
</div>
<app-tracking *ngIf="!isDevMode"></app-tracking>