div.squares {
    float: left;
}
div.squares .square {
    width: 130px;
    height: 130px;
    display: block;
    border: 1px solid orange;
    border-top: none;
    border-left: none;
    float: left;
    position: relative;
}
div.squares .square.last-column {
    border-right: none;
    width: 65px;
}
div.squares .square.first-column {
    width: 65px;
}
#square-1 {
    text-align: center;
}
#square-1 .fb-like {
    margin-top: 21px;
}
div.squares .square.last-row {
    border-bottom: none;
    height: 65px;
}
div.squares .square.first-row {
    height: 65px;
}
div.squares .square.description {
    width: 787px;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid orange;
    height: auto;
    min-height: 130px;
    margin-bottom: 10px;
    margin-top: 30px;
    line-height: 18px;
}
div.squares .square.hasImage img {
    height: 130px;
    width: 130px;
    display: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
div.squares .square.hasImage.mpgat img {
    height: 65px;
}
div.squares div.square.description div.desc {
    display: none;
    padding: 25px 0 20px 0;
    width: 787px;
    float: left;
}
div.squares div.square.description div.project {
    border-bottom: 1px solid orange;
    margin-bottom: 20px;
    float: left;
    padding-bottom: 15px;
}
div.squares div.square.description div.desc div.left {
    float: left;
    width: 277px;
    text-align: left;
    line-height: 24px;
}
div.squares div.square.description div.desc div.left a {
    font-weight: bold;
}
div.squares div.square.description div.desc div.left b {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 24px;
}
div.squares div.square.description div.right {
    float: right;
    margin-left: 10px;
    width: 500px;
}
div.squares div.square.description div.right a.external:hover img {
    border-color: #b9babc;
}
div.squares div.square.description div.right img {
    width: 500px;
    border: 1px solid orange;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
div.squares div.square.description div.right a.project-link {
    float: right;
    margin-top: 5px;
}

div.squares a.square.hasImage:hover div.info,
div.squares a.square.hasImage.selected div.info {
    display: none;
}
div.squares a.square.hasImage:hover .heading,
div.squares a.square.hasImage.selected .heading {
    display: none;
}
div.squares a.square.hasNoImage:hover,
div.squares a.square.hasNoImage.selected {
    color: white;
    background: orange;
}
div.squares .square .heading {
    text-align: center;
    margin-top: 53px;
}
div.squares .square .heading.heading-with-break {
    margin-top: 45px;
}
div.squares .square div.info {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 10px;
}

@media only screen and (max-device-width: 768px) {
  div.squares div.square.description div.right,
  div.squares div.square.description div.right img {
    width: 490px;
  }
  div.squares div.square.description div.right {
    margin-right: 10px;
  }
  
  div.squares div.square.description div.desc div.left b {
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 10px;
    float: left;
  }
  
  div.squares .square .heading {
    font-size: 20px;
    margin-top: 49px;
  }
  div.squares .square .heading.heading-with-break {
    margin-top: 37px;
  }
}