@media only screen and (max-device-width: 768px) {
  
  .desc p,
  .desc span,
  .desc li {
    font-size: 25px;
    line-height: 32px ! important;
    text-align: left;
  }
  
  .desc li {
    float: left;
    margin-left: 25px;
  }
  
  div#about span,
  div#about b {
    font-size: 25px ! important;
  }
  
  div.squares div.square.description div.right,
  div.squares div.square.description div.right img {
    width: 490px;
  }
  div.squares div.square.description div.right {
    margin-right: 10px;
  }
  
  div.squares div.square.description div.desc div.left b {
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 10px;
    float: left;
  }
  
  div.squares .square .heading {
    font-size: 20px;
    margin-top: 49px;
  }
  div.squares .square .heading.heading-with-break {
    margin-top: 37px;
  }
}